@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(112.93deg, #000000 0.67%, rgba(0, 56, 255, 0) 127.94%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Montserrat',sans-serif;
}

.container {
    padding: 30px 40px;

    border-radius: 20px;
    background-color: #fff;
}

.container h1 {
    margin-bottom: 30px;

    font-size: 1.5em;
    font-weight: 800;
    line-height: 24px;

    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    padding: 13px 15px;
    border: none;

    border-bottom:  1px solid #000;

    background-image: url("../img/error_24px_outlined.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.form input:focus {
    outline: 0;
}

.form button {
    margin-top: 15px;
    height: 40px;
    width: 130px;

    border-radius: 40px;
    border: 2px solid #000;
    outline:none;
    
    background-color: #000000;
    color: #fff;

    letter-spacing:1px;

    cursor: pointer;
}

.form button:hover {
    background-color: #202020;
    transition: .3s;
}

